/* Dropdown Button */
.dropbtn {
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 98px;
height: 40px;
background: #006D7D;
border-radius: 8px;
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
border: none;
}

/* parent div: move this if you want to relocate the button */
.dropdown {
   position: absolute;
   display: flexbox;
   width: 100px;
   left: 100px;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   margin-top: 18px;
   height: 120px;
   width: 196px;
   display: none;
   border-radius: 10px;
   position: inherit;
   z-index: 1;
   background-color: white;
   border-style: solid;
   border-color: #006D7D;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

/* title of button */
.C1 {
   color: white;
   font-style: normal;
   font-size: 14px;
   margin-left: 7px;
   position: relative;
   bottom: 2px;
   
}

/* icon */
#Change{
   color: white;
   position: relative;
   top: 2px;
}

/* items inside dropdown menu */
.items {
width: 116px;
height: 24px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #1C1B1F;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

/* list for way items are spaced */
ul {
   list-style-type: none;
   padding: 0;
   padding-left: 16px;
   padding-bottom: 18px;
}

li {
   margin: 8px 8px 0px 0;
   margin-bottom: 26px;
   margin-top: -9px;
}

/* checkbox styling */
input[type=checkbox] {
   position: absolute;
   cursor: pointer;
   margin-left: 100px;
   margin-bottom: 10px;
   margin-left: 135px;
}

input[type=checkbox]:before {
   box-sizing: border-box;
   border: 2px solid #006D7D;
   border-radius: 2px;
   content: "";
   display: block;
   position: absolute;
   width: 20px;
   height: 20px;
   top: 0;
   left: 0;
   background-color:white;
   border-width: 2px;
}

input[type=checkbox]:checked:before {
   content: "";
   display: block;
   position: absolute;
   width: 20px;
   height: 20px;
   top: 0;
   left: 0;
   background-color:#006D7D;
}

input[type=checkbox]:checked:after {
   content: "";
   display: block;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: 2px;
   left: 6px;
}

 
 .show {display:block;}
