.item-card {
  width: 420px;
  height: 450px;
  border: 2px solid black;
  border-radius: 12px;
}

.item-card-imgbox {
  height: 275px;
  background: #b7b7b7;
  border-radius: 12px 12px 0px 0px;
}

.item-titlebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-card-name {
  left: 2.9%;
  right: 58.71%;
  top: 64.67%;
  bottom: 27.05%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.item-card-date {
  width: 93px;
  height: 29px;
  left: 318px;
  top: 291px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  color: #000000;
}

.item-card-price {
  width: 31px;
  height: 20px;
  left: 12px;
  top: 344.29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height, or 83% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  color: #000000;
}
